@charset "utf-8";
/* CSS Document */
.menucito{
	background-color: lawngreen;
}
.carousel-item.active .carousel-caption.d-none.d-md-block h5 {
	font-size: 48px;
	text-shadow: 3px 3px 5px black;
}
.container-fluid-cuerpo{
	margin: 30px auto;
	padding: 0 15%;
}
.container-fluid-accordion{
	padding: 0 15%;
	margin: 10px auto;
}
.container-fluid-progress .progress .progress-bar.progress-bar-striped.progress-bar-animated {
	margin: 15 auto;
}
.container-fluid-progress{
	margin: 30px auto;
	padding: 0 15%;
}
.container-fluid-pie{
	margin-top: 30px;
}
footer{
	padding: 0 15%;
}
.container.p-4 .text-light code {
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 0px 2px 8px #000000;
	font-size: 20px;
}
section a{
	text-decoration: none;
}









/*MEDIA QUERI TABLETAS*/

@media (max-width:992px){
	.row .col-lg-4 .card {
		margin-bottom: 15px;
	}
	.container.p-4 .text-light code{
		font-size: 18px;
	}
}

/*MEDIA QUERI CELULARES*/

@media (max-width:576px){
	.container-fluid-cuerpo{
		padding: 0 10px;
		margin: 10px auto;
	}
	.container-fluid-accordion{
		padding: 0 10px;
	}
	.container-fluid-progress{
		padding: 0 10px;
	}
	.container-fluid-progress .progress .progress-bar.progress-bar-striped.progress-bar-animated{
		font-size: 10px;
	}
	footer{
		padding: 0 10px;
	}
	.container.p-4 .text-light code{
		font-size: 18px;
	}
}
